// colors
$white: #ffffff;
$black: #000000;
$gray: #333333;
$purple--light: #f4f0ff;
$purple--dark: #af53ff;
$green--light: #edfcf1;
$green--dark: #50bd5c;
$blue--light: #edf8fc;
$blue--dark: #0a79fa;
$blue: #3ec3ee;
$pink: #f20c92;


//font
$font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
$font-family--secondary: "Open sans";

//common
$box-shadow: 0px 3px 3px rgba($black, 0.25);
$border-radius: 4px;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1170px
//) !default;
//
//@include _assert-ascending($container-max-widths, "$container-max-widths");

// Container padding
$container-padding-x:  15px !default;
