.u--show-sm {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.u--hide-sm {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.u--show-md {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.u--hide-md {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.u--no-mgb-sm {
  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}

.u--mgb-sm-36 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 36px;
  }
}

.u--mgb-sm-16 {
  @include media-breakpoint-up(sm) {
    margin-bottom: 16px;
  }
}

.u--no-mgb-md {
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}
