@charset 'utf-8';

//utils
@import 'global/utils/functions';
@import 'global/utils/utils';
@import 'global/utils/breakpoints';
@import 'global/utils/animations';

//settings
@import 'settings';

//mixins
@import 'global/utils/mixins';

//utils
@import "utils";

//libs
@import 'libs';

// @import 'global/typography';
@import 'global/fonts';
@import 'global/common';


// components

@import 'components/page';
@import 'components/header';
@import 'components/main-nav';
@import 'components/mobile-nav';
@import 'components/footer';
@import 'components/page-section';
@import 'components/text';
@import 'components/content-box';
@import 'components/widget-box';
@import 'components/widget-details';
@import 'components/info-box';
@import 'components/check-list';
@import 'components/links-box';
@import 'components/modal';
@import 'components/iframe';
@import 'components/link';
@import 'components/icon';
@import 'components/row';
@import 'components/br';
@import 'components/social';
@import 'components/lang';
@import 'components/note';
@import 'components/img';
@import 'components/rate-box';
@import 'components/card';
@import 'components/swiper';
@import 'components/check';
@import 'components/btn';
@import 'components/rate';
@import 'components/media-box';
@import 'components/alert';
@import 'components/tabs-nav';
@import 'components/action';
@import 'components/actions-group';
@import 'components/form';
@import 'components/input';
@import 'components/result-box';
