.btn {
  @include btn();

  cursor: pointer;

  svg + span {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-11px);
    //margin-left: 10px;
    display: inline-block;
    font-size: 15.8px;
    line-height: 24px;
    letter-spacing: -0.24px;
    text-transform: none;

    @include media-breakpoint-up(sm) {

    }
  }

  @include hover {
    svg {
      --icon-color: var(--white-color);
    }
  }

  &--full-width-sm {
    max-width: 100%;
  }

  &--align-left {
    justify-content: flex-start;
    text-align: left;
  }
}
