.card {
  padding: 20px 20px 40px;
  //max-width: 320px;
  background-color: var(--white-color);
  box-shadow: -2px 25px 33px 1px rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.14);
  border-radius: 44px;
  box-sizing: border-box;

  &__img {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
  }

  &__name {
    margin-left: 15px;
    display: inline-block;
    font-family: $font-family;
    font-size: 17.2px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.59px;
    color: rgba(#000000, 0.9);
    vertical-align: middle;
  }

  &__title {
    margin-top: 18px;
    display: block;
    font-family: $font-family;
    font-size: 15.2px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--gray-color);
  }

  &__text {
    margin: 16px 0 21px 0;
    font-family: $font-family;
    font-size: 15.2px;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
}
