.content-box {

  @mixin box-shadow() {
    padding: 56px 20px 54px;
    padding-bottom: 30px;
    border-radius: 38px;
    box-shadow: -2px 35px 53px 1px rgba(0, 0, 0, 0.08), 0 1px 7px 0 rgba(0, 0, 0, 0.09);

    @include media-breakpoint-up(sm) {
      padding-right: 40px;
      padding-left: 40px;
    }

    @include media-breakpoint-up(md) {
      padding-top: 66px;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 48px;
      padding-left: 48px;
    }
  }

  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--white-color);

  //&--shadow {
  //  @include media-breakpoint-up(md) {
  //    max-width: 100%;
  //  }
  //}

  @include media-breakpoint-up(sm) {
    align-items: center;
    text-align: center;
  }

  //@include media-breakpoint-up(md) {
  //  max-width: 540px;
  //}

  @include media-breakpoint-up(lg) {
    max-width: 940px;
  }

  &--shadow-xs {
    @include box-shadow();
  }

  &--shadow-sm {
    @include media-breakpoint-up(sm) {
      @include box-shadow();
    }
  }

  &--shadow-md {
    @include media-breakpoint-up(md) {
      @include box-shadow();
    }
  }

  &--quick-start {
    margin-top: 45px;

    @include media-breakpoint-up(md) {
      margin-top: 20px;
      padding-top: 90px;
    }
  }

  &--faq {
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      margin-top: 33px;
    }
  }

  &--links-box {
    @include media-breakpoint-up(sm) {
      padding-right: 36px;
      padding-left: 36px;
    }

    @include media-breakpoint-up(md) {
      padding-right: 40px;
      padding-left: 40px;
    }

    @include media-breakpoint-up(xl) {
      padding-right: 48px;
      padding-left: 48px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    grid-column: 1 / -1;
    font-size: 18.2px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.62px;

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.69px;
    }

    svg + & {
      margin-top: 12px;
    }
  }

  &__text {
    margin: 0 0 50px 0;
    font-size: 15.2px;
    line-height: 24px;
    letter-spacing: -0.2px;
    grid-column: 1 / -1;

    @include media-breakpoint-up(sm) {
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      max-width: 740px;
      font-size: 17.2px;
      line-height: 28px;
      letter-spacing: -0.59px;
    }
  }

  &__link {
    margin-top: 42px;
    margin-bottom: 36px;

    .check-list + & {
      margin-left: 5px;
    }
  }
}
