.footer {

  &__container {
    @include container();


    @include media-breakpoint-up(lg) {
      max-width: 820px;
      box-sizing: content-box;
    }


    @include media-breakpoint-up(xxl) {
      max-width: 900px;
    }

    @include media-breakpoint-up(xxxl) {
      max-width: 1040px;
    }
  }

  &__links {
    display: none;

    @include media-breakpoint-up(lg) {
      margin: 76px 0 68px 0;
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: space-between;
    }
  }

  &__social {
    margin: 40px 0 42px 0;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      margin: 0 0 28px 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__lang {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__list {
    @include list-clear();
  }
}
