.img {
  position: relative;

  &--shadow {
    padding: 20px;
    border-radius: 36px;
    box-shadow: -2px 28px 42px 1px rgba(0, 0, 0, 0.15), 0 1px 6px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
  }

  &--with-auto img {
    width: auto;
  }

  &--messanger img {
    margin-top: -65px;
    margin-bottom: 18px;
    margin-right: auto;
    margin-left: auto;
    width: 440px;
    height: 190px;


    @include media-breakpoint-up(sm) {
      width: 600px;
      height: 220px;
      margin-top: -67px;
      margin-bottom: 0;
      left: 0;
    }

    //@include media-breakpoint-up(lg) {
    //  width: 286px;
    //  height: 578px;
    //}

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &--hide-lg {
    //@include media-breakpoint-up(lg) {
    //  display: none;
    //}
  }
}
