.img {
  position: relative;

  &--messanger {
    margin-top: -15px;
    margin-bottom: 8px;
    left: calc(-1 * var(--container-padding-x));
    width: 600px;
    height: 220px;

    @include media-breakpoint-up(sm) {
      margin-top: 3px;
      margin-bottom: 0;
      left: 0;
    }
  }
}
