.info-box {
  --icon-space: 12px;

  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  @include media-breakpoint-up(sm) {
    align-items: center;
    text-align: center;
  }

  &--no-mg-b,
  &:last-of-type {
    margin-bottom: 0;
  }

  &--icon-space-lg {
    --icon-space: 16px;
  }

  &--align-left-lg {
    @include media-breakpoint-up(lg) {
      align-items: start;
      text-align: left;
      justify-self: start;
    }
  }

  &--mgb-63 {
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }

  &--mgb-24 {
    margin-bottom: 24px;
  }

  &--mgb-sm-48 {
    @include media-breakpoint-up(sm) {
      //margin-bottom: 48px;
      margin-bottom: 44px;
    }
  }

  &--mgb-md-48 {
    @include media-breakpoint-up(md) {
      margin-bottom: 48px;
    }
  }

  &--mgb-md-42 {
    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }
  }

  &--text-left {
    text-align: left;
    align-items: flex-start;
  }

  &__title {
    margin: 0 0 8px 0;
    font-size: 18.2px;
    line-height: 28px;
    letter-spacing: -0.62px;
    font-weight: 500;
    color: var(--gray-color);

    svg + & {
      margin-top: var(--icon-space);
    }

    .info-box--icon-size-lg svg + & {
      margin-top: 16px;

      @include media-breakpoint-up(md) {
        margin-top: var(--icon-space);
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.69px;
    }

    &--lh-35-md {
      @include media-breakpoint-up(md) {
        line-height: 35px;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--gray-color);

    @include media-breakpoint-up(md) {
      font-size: 17.2px;
      line-height: 28px;
      letter-spacing: -0.59px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 740px;
    }

    &--lh-26-md {
      @include media-breakpoint-up(md) {
        line-height: 26px;
      }
    }
  }

  &__link {
    margin-top: 25px;

    //@include media-breakpoint-only(xs) {
    //  margin-top: 25px;
    //}
    //
    //@include media-breakpoint-up(sm) {
    //  margin-top: 25px;
    //}
  }

  &__btn {
    margin-top: 22px;

    @include media-breakpoint-up(sm) {
      width: 100%;
      max-width: 480px;
    }
  }
}
