.info-box {
  --icon-space: 18px;

  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  &--no-mg-b,
  &:last-of-type {
    margin-bottom: 0;
  }

  &[data-count]::before {
    content: attr(data-count);
    margin-bottom: var(--icon-space);
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 20px;
    color: var(--purple-dark-color);
    border: 2px solid var(--purple-dark-color);
    border-radius: 50%;
    box-sizing: border-box;
  }

  @include media-breakpoint-up(sm) {
    align-items: center;
    text-align: center;
  }

  &--align-left-lg {
    @include media-breakpoint-up(lg) {
      align-items: start;
      text-align: left;
      justify-self: start;
    }
  }

  &__title {
    margin: 0 0 8px 0;
    font-size: 18.2px;
    line-height: 28px;
    letter-spacing: -0.62px;
    font-weight: 500;
    color: var(--gray-color);

    svg + & {
      margin-top: 12px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.69px;
    }

    &--lh-lg {
      @include media-breakpoint-up(md) {
        line-height: 35px;
      }
    }
  }

  &__text {
    margin: 0;
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--gray-color);

    @include media-breakpoint-up(md) {
      font-size: 17.2px;
      line-height: 28px;
      letter-spacing: -0.59px;
    }

    &--lh-sm {
      @include media-breakpoint-up(md) {
        line-height: 26px;
      }
    }
  }

  &__link {
    margin-top: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
  }
}
