.info-block {
  --icon-space: 18px;

  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  &--no-mg-b,
  &:last-of-type {
    margin-bottom: 0;
  }

  &[data-count]::before {
    content: attr(data-count);
    margin-bottom: var(--icon-space);
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 20px;
    color: var(--purple-dark-color);
    border: 2px solid var(--purple-dark-color);
    border-radius: 50%;
    box-sizing: border-box;
  }

  @include media-breakpoint-up(sm) {
    align-items: center;
    text-align: center;
  }

  &--align-left-lg {
    @include media-breakpoint-up(lg) {
      align-items: start;
      text-align: left;
      justify-self: start;
    }
  }

  &__title {
    margin: 0 0 7px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.62px;
    font-weight: 500;
    color: var(--gray-color);

    svg + & {
      margin-top: 18px;
    }

    @include media-breakpoint-up(md) {
      font-size: 20px;
      line-height: 1.7;
      letter-spacing: -0.69px;
    }
  }

  &__text {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: -0.2px;
    color: var(--gray-color);

    @include media-breakpoint-up(md) {
      font-size: 17px;
      letter-spacing: -0.59px;
    }
  }

  &__link {
    margin-top: 15px;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.15;
    color: var(--purple-dark-color);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    //letter-spacing: -0.16px;
  }

  &__link span {
    margin-right: 10px;
    display: inline-block;
  }

  &__icon {

  }
}
