.lang {
  --border-radius: 15.5px;

  margin-top: 30px;
  height: 26px;
  width: 160px;
  display: flex;
  align-self: center;
  border: 1px solid #d9d9d9;
  border-radius: var(--border-radius);
  box-sizing: border-box;

  &__item {
    @include clear-link-outline();

    position: relative;
    top: -1px;
    padding: 4px 14px;
    height: 26px;
    width: 100%;
    display: block;
    font-family: $font-family;
    font-size: 12.4px;
    line-height: 1.45;
    text-align: center;
    color: rgba(#000000, 0.8);
    border-radius: var(--border-radius);
    text-decoration: none;
    box-sizing: border-box;

    @-moz-document url-prefix() {
      line-height: 1.55;
    }

    &:not(:last-child) {
      margin-right: 2px;
    }

    &:first-child.active {
      left: -1px;
    }

    &:last-child.active {
      right: -1px;
    }

    @include hover {
      background-color: rgba(0,0,0, 0.06);
    }

    &.active {
      color: var(--white-color);
      background-color: #4682ff;

      @include hover {
        background-color: #4682ff;
      }
    }
  }
}
