.links-box {
  display: block;
  border: 1px solid rgba(#000000, 0.2);
  border-radius: 40px;

  @include media-breakpoint-up(sm) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: var(--links-box-mg-bottom);

    @include media-breakpoint-up(md) {
      margin-bottom: var(--links-box-mg-bottom-md);
    }
  }

  @include hover {
    border-color: rgba(#000000, 0.6);
    background-color: rgba(#000000, 0.04);
  }

  &__body {
    position: relative;
    padding: 4px 14px 4px 28px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }

  &__list {
    @include list-clear();

    margin-bottom: 23px; //25
    padding: 0 28px;
    display: none;

    .links-box__input:checked ~ & {
      display: block;
    }
  }

  &__item {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;

    @-moz-document url-prefix() {

      & {
        margin-top: 7px;
      }
    }
  }

  &__link {
    @include link();
    display: inline-block;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      right: -46px;
      width: 48px;
      height: 38px;
      display: inline-block;
      background: url("arrow-forward") no-repeat;
    }

    //@-moz-document url-prefix() {
    //
    //  &:after {
    //    bottom: -11px;
    //    right: -43px;
    //  }
    //}
  }

  &__link span {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 1px;
      background-color: var(--blue-dark-color);
      opacity: 0;

      @include hover() {
        opacity: 1;
      }
    }
  }

  &__link br {
    display: block;

    @include media-breakpoint-up(x) {
      display: none;
    }
  }

  &__toggle-arrow {
    transform: rotate3d(0, 0, 1, 90deg);

    .links-box__input:checked ~ .links-box__body  & {
      transform: rotate3d(0, 0, 1, -90deg);
    }

    .links-box--link & {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
}
