.links-box {
  width: 100%;
  display: block;
  border: 1px solid rgba(#000000, 0.2);
  border-radius: 40px;

  &:not(:last-child) {
    margin-bottom: var(--links-box-mg-bottom);
  }

  @include hover {
    border-color: rgba(#000000, 0.6);
    background-color: rgba(#000000, 0.04);
  }

  &__body {
    position: relative;
    padding: 4px 14px 4px 28px;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }

  &__list {
    @include list-clear();

    margin-bottom: 25px;
    padding: 0 28px;
    display: none;

    .links-box__input:checked ~ & {
      display: block;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    user-select: none;
  }

  &__toggle-arrow {
    transform: rotate3d(0, 0, 1, 90deg);

    .links-box__input:checked ~ .links-box__body  & {
      transform: rotate3d(0, 0, 1, -90deg);
    }

    .links-box--link & {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
}
