.link {
  @include link();

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: var(--blue-dark-color);
    opacity: 0;
    transition: all 0.3s;

    @include hover() {
      opacity: 1;
    }
  }

  &--purple {
    color: var(--purple-dark-color);

     &::before {
      background-color: var(--purple-dark-color);
    }
  }

  &--sm {
    font-size: 12.4px;
    line-height: 15px;
    font-weight: 400;

    &::before {
      bottom: -3px;
    }
  }

  &--black {
    color: rgba(#000000, 0.8);

    &::before {
      background-color: rgba(#000000, 0.5);
    }
  }

  &--footer {
    line-height: 32px;
  }

  &--in-text {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &--more {
    --icon-size: 14px;

    line-height: var(--icon-size);
    text-transform: uppercase;
    user-select: none;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -21px;
      width: var(--icon-size);
      height: var(--icon-size);
      display: inline-block;
      background: url("arrow-right--blue") no-repeat;
    }

    span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: var(--blue-dark-color);
        opacity: 0;

        @include hover() {
          opacity: 1;
        }
      }
    }

    &.link--purple {

      &::after {
        background: url("arrow-right--purple") no-repeat;
      }

      span::before {
        background-color: var(--purple-dark-color);
      }
    }
  }

  //&--more {
  //  @-moz-document url-prefix() {
  //
  //    &::after {
  //      top: -12px;
  //    }
  //  }
  //}
}
