.main-nav {
  @include list-clear();

  position: relative;
  top: -2px;
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__item {

    margin-right: 22px;

    &--login {
      margin-left: 12px;
      margin-right: 11px;
    }
  }

  .main-nav__item--login a {
    display: block;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -7px;
      width: 61px;
      height: 27px;
      border-radius: 18px;
      border: 1px solid rgba(#000000, 0.25);
      transition: background-color 0.3s linear, border-color 0.3s linear;

      @include hover {
        border-color: rgba(#000000, 0.6);
        background-color: rgba(#000000, 0.04);
      }
    }
  }
}


