.main-nav {
  @include list-clear();

  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__item {

    &:not(last-child) {
      margin-right: 22px;
    }

    &--login {
      margin-left: 12px;
    }
  }

  .main-nav__item--login a {

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 62px;
      height: 28px;
      border: 1px solid red;
      border-radius: 18px;
      border: 1px solid rgba(#000000, 0.5);

      @include hover {
        border-color: rgba(#000000, 0.6);
        background-color: rgba(#000000, 0.04);
      }
    }
  }
}


