.media-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: flex-start;
  }

  &--social {
    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  &__img {
    position: relative;
    align-self: center;

    .media-box--reverse-lg & {
      @include media-breakpoint-up(lg) {
        order: 2;
      }
    }

    .media-box--social & {
      margin-top: 5px;
      margin-bottom: 20px;

      @include media-breakpoint-up(sm) {
        margin-top: 20px;
        margin-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 90px;
        align-self: unset;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 60px;
        margin-left: -30px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: 0;
      }
    }

    .media-box--email & {
      margin-top: 25px;
      margin-bottom: 42px;
      width: 376px;
      height: 305px;
      flex-shrink: 0;

      @include media-breakpoint-up(sm) {
        margin-top: 43px;
      }

      @include media-breakpoint-up(md) {
        margin-top: 60px;
        margin-bottom: 60px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 93px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 70px;
      }

      @include media-breakpoint-up(xxl) {
        right: -40px;
      }
    }
  }

  &__img img {
    display: block;

    .media-box--social & {
      width: 440px;
      height: 190px;

      @include media-breakpoint-up(sm) {
        width: 600px;
        height: 220px;
      }

      @include media-breakpoint-up(lg) {
        width: 286px;
        height: 578px;
      }
    }

  }

  &__content {
    position: relative;

    .media-box--social & {
      @include media-breakpoint-up(lg) {
        margin-top: 123px;
        margin-left: 60px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 105px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: 90px;
      }
    }

    .media-box--email & {
      @include media-breakpoint-up(lg) {
        margin-top: 90px;
        margin-right: 45px;
      }

      @media screen and (min-width: 1000px) {
        margin-top: 120px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 95px;
        //margin-left: 2px;
        margin-right: 65px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: -20px;
      }
    }
  }
}
