.mobile-nav {
  --sidebar-width: 250px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(#000000, 0.2);
  overflow-y: auto;
  opacity: 0;
  transition: all 0.3s linear;

  .page--mobile-nav-open & {
    display: flex;
    z-index: 1000;
    opacity: 1;

    @include media-breakpoint-up(lg) {
      opacity: 0;
      z-index: -10;
    }
  }

  &__main {
    --border-radius: 20px;
    --side-space: 30px;

    position: absolute;
    padding: 60px var(--side-space) 64px;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    background-color: var(--white-color);
    box-shadow: 0 9px 24px 0 rgba(#000000, 0.12), 0 1px 3px 0 rgba(#000000, 0.12), 0 2px 4px 0 rgba(#000000, 0.09);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-sizing: border-box;
    transform: translate3d(var(--sidebar-width), 0, 0);
    transition: all 0.3s linear;
    will-change: trasform;


    .page--mobile-nav-open & {
      transform: translate3d(0, 0, 0);

      @include media-breakpoint-up(lg) {
        transform: translate3d(var(--sidebar-width), 0, 0);
      }
    }

    //safari fix height
    @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
      position: absolute;
    }
  }

  &__list {
    @include list-clear();

    margin-bottom: 16px;
  }

  &__item a {
    @include clear-link-outline();

    font-family: $font-family;
    font-size: 14.8px;
    line-height: 42px;
    color: rgba(#000000, 0.8);
    text-decoration: none;
  }

  &__close {
    @include close-btn();

    position: absolute;
    top: 14px;
    right: 17px;

    width: 38px;
    height: 36px;
  }

  &__login {
    @include clear-link-outline();

    margin-top: 16px;
    margin-bottom: 40px;
    padding: 5px 0;
    font-family: $font-family;
    font-size: 12.4px;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
    color: rgba(#000000, 0.8);
    border: 1px solid rgba(#000000, 0.25);
    border-radius: 20px;
    transition: background-color .3s linear, border-color .3s linear;

    @include hover {
      border-color: rgba(#000000, 0.6);
      background-color: rgba(#000000, 0.04);
    }
  }
}
