.note {
  position: relative;
  margin: 16px auto 0;
  padding: 24px 20px 14px;
  width: 100%;
  max-width: 320px;
  background-color: #45ba6e;
  box-shadow: -2px 25px 33px 1px rgba(0, 0, 0, 0.12), 0 6px 15px 0 rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: left;

  @include media-breakpoint-up(md) {
    margin-top: 25px;
    max-width: 660px;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 40px;
  }

  &--mgt-40 {
    margin-top: 40px;
  }

  &--mgt-sm-32 {
     @include media-breakpoint-up(sm) {
       margin-top: 32px;
     }
  }

  &--mgt-md-50 {
    @include media-breakpoint-up(md) {
      margin-top: 50px;
    }
  }

  &--no-mgt {
    margin-top: 0;
  }

  &--w-full {
    max-width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -26px;
    right: 50px;
    width: 46px;
    height: 26px;
    background: url("message-tail") no-repeat;
  }

  &--blue {
    background-color: var(--blue-dark-color);

    &::before {
      background: url("message-tail--blue") no-repeat;
    }
  }

  &__text {
    margin: 0 0 10px 0;
    font-family: $font-family;
    font-size: 14.8px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: var(--white-color);

    @include media-breakpoint-up(md) {
      font-size: 16.1px;
    }

    &--lg {
      font-size: 16.1px;
      font-weight: 500;
      letter-spacing: -0.45px;
    }

    &--mgb-md-0 {
      &:not(:last-child) {
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
    }

    &--sm-center {
      @include media-breakpoint-up(sm) {
        text-align: center;
      }
    }
  }
}
