.page-section {
  --skew-angle: 6.5deg;
  --container-cut: 15px;

  position: relative;

  @include media-breakpoint-only(xxl) {
    --container-cut: 30px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 150px;
    transform: skewY(var(--skew-angle));
  }

  &--under-header {
    padding-top: 52px;

    @include media-breakpoint-up(lg) {
      padding-top: 62px;
    }
  }

  &--under-slider {
    z-index: 1; // fix text blur under slider
  }

  &--inverse {
    //--skew-angle: -5deg;
    --skew-angle: -3deg;
  }

  &--no-skew-top {
    &::after {
      content: "";
      background-color: inherit;
    }
  }

  &--no-skew-bottom {
    &::after {
      content: "";
      top: unset;
      bottom: 0;
      background-color: inherit;
    }
  }

  &:not(&--no-skew) {
    transform: skewY(calc(-1 * var(--skew-angle)));
  }

  &--bg-purple {
    background-color: var(--purple-light-color);

    &::before {
      background-color: var(--purple-light-color);
    }

    &::after {
      background-color: var(--purple-light-color);
    }
  }

  &--bg-green {
    background-color: var(--green-light-color);
  }

  &--bg-blue {
    background-color: var(--blue-light-color);
  }

  &--bg-pink {
    background-color: var(--pink-light-color);
  }

  &--instagram {
    z-index: 10;
  }

  &__container {
    @include container();

    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
       align-items: center;
       text-align: center;
    }

    @include media-breakpoint-up(md) {
      padding-top: 140px;
      padding-bottom: 190px;
    }

    .page-section--widget & {
      padding-top: 76px;
      padding-bottom: 110px;

      @include media-breakpoint-up(md) {
        padding-top: 115px;
        padding-bottom: 150px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 105px;
        padding-bottom: 150px;
      }
    }

    .page-section--cut & {
      @include media-breakpoint-up(xl) {
        padding-right: calc(var(--container-padding-x) - var(--container-cut));
      }
    }

    .page-section--widget-details & {
      padding-bottom: 135px; //165

      @include media-breakpoint-up(sm) {
        padding-bottom: 70px;
      }

      @include media-breakpoint-up(md) {
        padding-bottom: 130px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 192px;
        padding-bottom: 115px;
        //max-width: 1042px;
        overflow: hidden;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: 140px;
        //max-width: 1072px;
      }
    }

    .page-section--test & {
      @include media-breakpoint-up(lg) {
        padding-bottom: 200px;
      }
    }

    .page-section--cashbox & {
      padding-top: 95px;
      padding-bottom: 90px;
      background-color: var(--pink-light-color);
      align-items: center;
      text-align: center;

      @include media-breakpoint-up(md) {
        padding-top: 125px;
        padding-bottom: 118px;
      }
    }

    .page-section:not(.page-section--no-skew) & {
      transform: skewY(var(--skew-angle));
    }

    .page-section--solid:not(.page-section--solid.--start) & {
      padding-top: 0;
    }

    .page-section--solid:not(.page-section--solid.--end) & {
      padding-bottom: 120px;

      @include media-breakpoint-up(md) {
        padding-bottom: 160px;
      }
    }

    .page-section--solid.--start & {
      @include media-breakpoint-up(md) {
        padding-top: 150px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 140px;
      }
    }

    .page-section--solid.--end & {
      padding-bottom: 150px;

      @include media-breakpoint-up(lg) {
        padding-bottom: 180px;
      }
    }

    .page-section--api & {
      padding-top: 100px;
      padding-bottom: 120px;

      @include media-breakpoint-up(md) {
        padding-top: 140px;
        padding-bottom: 160px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 150px;
      }
    }

  //page-two
    .page-section--without-site & {
      @include media-breakpoint-up(md) {
        padding-top: 166px;
        padding-bottom: 110px;
      }
    }

    .page-section--no-pay & {
      padding-top: 110px;
      padding-bottom: 120px;

      @include media-breakpoint-up(md) {
        padding-top: 120px;
        padding-bottom: 155px;
      }
    }

    .page-section--quick-start & {
      padding-bottom: 140px;

      @include media-breakpoint-up(md) {
        padding-top: 172px;
        padding-bottom: 180px;
      }
    }

    .page-section--widget-no-site & {
      padding-top: 110px;
      padding-bottom: 80px;

      @include media-breakpoint-up(md) {
        padding-top: 155px;
        padding-bottom: 105px;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: 65px;
      }
    }

    .page-section--easy & {
      padding-top: 122px;
      padding-bottom: 60px;

      @include media-breakpoint-up(md) {
        padding-top: 170px;
        padding-bottom: 161px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 160px;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 150px;
      }
    }

    .page-section--social & {
      padding-top: 0;
      padding-bottom: 90px;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        padding-bottom: 75px;
      }

      @include media-breakpoint-up(md) {
        padding-bottom: 110px;
      }

      @include media-breakpoint-up(xl) {
        overflow: unset;
      }
    }

    .page-section--no-subscribe & {
      padding-top: 105px;
      padding-bottom: 115px;

      @include media-breakpoint-up(sm) {
        padding-top: 95px;
      }

      @include media-breakpoint-up(md) {
        padding-top: 140px;
        padding-bottom: 175px;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 130px;
      }
    }

    .page-section--reviews & {
      padding-top: 115px;

      @include media-breakpoint-up(md) {
        padding-top: 160px;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 168px;
      }
    }

    .page-section--over-footer & {
      padding-bottom: 95px;

      @include media-breakpoint-up(md) {
        padding-bottom: 80px;
      }
    }

    .page-section--under-slider & {
      margin-top: -70px;
      padding-top: 0;

      @include media-breakpoint-up(md) {
        margin-top: -128px;
      }
    }

    .page-section--instagram & {
      padding-top: 75px;
      padding-bottom: 65px;

      @include media-breakpoint-up(md) {
        padding-top: 115px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 105px;
        padding-bottom: 20px;
      }
    }

    .page-section--instagram-mock & {
      padding-top: 79px;
      padding-bottom: 45px;

      @include media-breakpoint-up(sm) {
        padding-top: 58px;
      }

      @include media-breakpoint-up(md) {
        padding-top: 75px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 43px;
        padding-bottom: 50px;
      }

      @include media-breakpoint-up(xxl) {
        padding-bottom: 40px;
      }
    }

    .page-section--social-inst & {
      padding-bottom: 110px;

      @include media-breakpoint-up(md) {
        padding-top: 164px;
        padding-bottom: 120px;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 110px;
      }
    }

    .page-section--dashboard & {
      padding-bottom: 85px;

      @include media-breakpoint-up(sm) {
        padding-bottom: 106px;
      }

      @include media-breakpoint-up(md) {
        padding-top: 145px;
        padding-bottom: 120px;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 0;
      }
    }

    .page-section--web-kassa & {
      margin-top: -20px;
      padding-top: 102px;
      padding-bottom: 90px;

      @include media-breakpoint-up(md) {
        padding-top: 120px;
        padding-bottom: 130px;
      }

      @include media-breakpoint-up(lg) {

      }

      @include media-breakpoint-up(xl) {
        margin-top: -35px;
        padding-top: 110px;
      }

      @include media-breakpoint-up(xxl) {
        margin-top: -95px;
        padding-top: 140px;
      }
    }

    .page-section--payments & {
      padding-top: 105px;
      padding-bottom: 85px;

      @include media-breakpoint-up(sm) {
        padding-top: 100px;
      }

      @include media-breakpoint-up(md) {
        padding-top: 140px;
      }

      @include media-breakpoint-up(lg) {
        padding-bottom: 105px;
      }
    }

    .page-section--no-pdb & {
      padding-bottom: 0;
    }

    .page-section--no-pdt & {
      padding-top: 0;
      padding-bottom: 96px;

      @include media-breakpoint-up(md) {
        padding-bottom: 120px;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: 100px;
      }
    }
  }

  &__title {
    margin: 0 0 16px 0;
    max-width: 322px;
    font-family: $font-family;
    font-size: 29px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.5px;
    color: rgba(var(--black-color), 0.9);
    text-decoration: none;

    @include clear-link-outline();

    @include media-breakpoint-up(sm) {
      max-width: unset;
      text-align: center;
    }

    @include media-breakpoint-up(md) {
      font-size: 38px;
      letter-spacing: -1.16px;
      line-height: 48px;
    }

    //@include media-breakpoint-up(sm) {
    //  max-width: unset;
    //}

    svg + & {
      margin-top: 26px;
    }

    .page-section--cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__text {

    .page-section--cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__content--social {
    margin-top: 70px;
    display: flex;
    flex-direction: column;

    &::before,
    &::after {
      position: absolute;
      top: -65px;
      width: 400px;
      height: 560px;
      background-repeat: no-repeat;

      @include media-breakpoint-up(md) {
        content: "";
      }

      @include media-breakpoint-up(xl) {
        top: -67px;
      }
    }

    &::before {
      left: -300px;
      background-image: url("social-left");

      @include media-breakpoint-up(lg) {
        left: -310px;
      }

      @include media-breakpoint-up(xl) {
        left: -403px;
      }

      @include media-breakpoint-up(xxl) {
        left: -443px;
      }
    }

    &::after {
      right: -300px;
      background-image: url("social-right");

      @include media-breakpoint-up(lg) {
        right: -310px;
      }

      @include media-breakpoint-up(xl) {
        right: -403px;
      }

      @include media-breakpoint-up(xxl) {
        right: -443px;
      }
    }

    picture {
      align-self: center;
    }

    &.no-bg {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__content--payments {
    margin-top: 27px;

    @include media-breakpoint-up(sm) {
      margin-top: 50px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 49px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 0;
    }
  }

  &__btn {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;

    @include btn();

    @include media-breakpoint-up(md) {
      margin-right: unset;
      margin-left: unset;
      margin-bottom: 100px;
      max-width: 304px;
    }

    .page-section--cut & {
      @include media-breakpoint-up(xl) {
        margin-left: calc(-1 * var(--container-cut));
      }
    }
  }

  &__label {
    @include label();

    @include media-breakpoint-up(lg) {
      align-self: center;
    }
  }

  //icon's shift
  &--cut &__container > .icon {
    @include media-breakpoint-up(xl) {
      margin-left: calc(-1 * var(--container-cut));
    }
  }
}
