.rate-box {
  margin-bottom: 20px;
  font-family: $font-family;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  @-moz-document url-prefix() {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 25px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 27px;
    }
  }

  &__count {
    position: relative;
    //margin-left: 29px;
    margin-left: -5px;
    display: inline-block;
    font-size: 51.6px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.33px;

    @include media-breakpoint-up(md) {
      margin-left: -22px;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }

    &[data-prefix]::before {
      content: attr(data-prefix);
      position: absolute;
      left: -40px;
    }

    @-moz-document url-prefix() {
      margin-bottom: 4px;
    }
  }

  sub {
    position: relative;
    top: 0;
    left: 8px;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.96px;

    @include media-breakpoint-up(md) {
      left: 12px;
    }
  }

  &__text {
    position: relative;
    top: -3px;
    left: -17px;
    font-size: 15.2px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--gray-color);

    @include media-breakpoint-up(md) {
      top: -7px;
      left: 12px;
      margin-left: 18.4px;
      align-self: flex-end;
      font-size: 16.1px;
      line-height: 26px;
      letter-spacing: -0.55px;
      text-align: left;
    }

    b {
      font-weight: 500;
    }
  }

}
