.rate-box {
  margin-bottom: 24px;
  font-family: $font-family;
  text-align: center;

  &__count {
    position: relative;
    font-size: 51.6px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.33px;

    &[data-prefix]::before {
      content: attr(data-prefix);
      position: absolute;
      left: -30px;
    }
  }

  sub {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.96px;
  }

  &__text {
    font-size: 15.2px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--gray-color);

    b {
      font-weight: 500;
    }
  }

}
