.swiper {
  position: relative;
  width: 100%;

  &--reviews {
    @include media-breakpoint-up(md) {
      margin-top: -30px;
    }

    .page-section__title + & {
      @include media-breakpoint-up(md) {
        margin-top: -18px;
      }
    }
  }

  &-container {
    position: relative;
    padding: 73px var(--container-padding-x) 60px;
    left: calc(-1 * var(--container-padding-x));
    width: 100%;

    @media (min-width: 1045px) {
      overflow: unset;
      left: -59px;
    }

    @include media-breakpoint-up(xxl) {
      left: -85px;
    }
  }

  &-wrapper {

    @include media-breakpoint-up(sm) {
      left: -20px;
    }

    @include media-breakpoint-up(md) {
      left: 0;
    }
  }

  &-slide {
    width: 320px !important;

    &:not(:last-child) {
      @media (min-width: 1045px) {
        margin-right: 20px;
      }

      @include media-breakpoint-up(xl) {
        margin-right: 20px;
      }

      @include media-breakpoint-up(xxl) {
        margin-right: 46px;
      }
    }
  }

  &-button {
    @include btn-default();

    position: absolute;
    top: 27px;
    z-index: 10;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: none;
    }

    @include focus {
      outline: none;
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &-disabled {
      cursor: not-allowed;
    }

    svg {
      --icon-color: var(--blue-dark-color);

      @include hover() {
        --icon-color: var(--blue-dark-color);
      }
    }

    &-disabled svg {
      --icon-color: rgba(0, 0, 0, 0.3);

      @include hover() {
        --icon-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
