.text {
  margin: 0 0 16px 0;
  max-width: 840px;
  font-family: $font-family;
  font-size: 18.2px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.26px;
  color: var(--gray-color);

  &--mgb-32 {
    margin-bottom: 32px;
  }

  &--mgb-36 {
    margin-bottom: 36px;
  }

  &--mgb-34 {
    margin-bottom: 34px;
  }

  &--mgb-sm-32 {
    @include media-breakpoint-up(sm) {
      margin-bottom: 32px;
    }
  }

  &--mgb-md-36 {
    @include media-breakpoint-up(md) {
      margin-bottom: 36px;
    }
  }

  &--mgb-md-32 {
    @include media-breakpoint-up(md) {
      margin-bottom: 32px;
    }
  }

  &--inherit {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &--ls-36 {
    letter-spacing: -0.36px;
  }

  &--ls-26 {
    letter-spacing: -0.26px;
  }

  &--center {
    text-align: center;
  }

  &--center-sm {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }

  &--bold {
    font-weight: 500;
  }

  &--pink {
    color: var(--pink-dark-color);
  }

  &--purple {
    color: var(--purple-dark-color);
  }

  &--center-sm {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }

  &--no-mgb-sm {
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &--no-mgb-md {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &--md-size-lg {
    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }
  }

  &--lg-inline {
    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }

  &--inline-sm {
    @include media-breakpoint-up(sm) {
      display: inline;
    }
  }

  &--block-md {
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}
