.text {
  margin: 0 0 16px 0;
  font-family: $font-family;
  font-size: 18.2px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.26px;
  color: var(--gray-color);

  &--ls-36 {
    letter-spacing: -0.36px;
  }
}
