.text {
  margin: 0 0 16px 0;
  max-width: 840px;
  font-family: $font-family;
  font-size: 18.2px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.26px;
  color: var(--gray-color);

  &--ls-36 {
    letter-spacing: -0.36px;
  }

  &--center {
    text-align: center;
  }

  &--center-sm {
    @include media-breakpoint-up(sm) {
      text-align: center;
    }
  }

  &--no-mgb-sm {
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &--md-size-lg {
    @include media-breakpoint-up(md) {
      font-size: 20.2px;
      line-height: 32px;
      letter-spacing: -0.4px;
    }
  }
}
