.widget-box {
  --widget-instagram-height--xs: 1234px;
  --widget-instagram-height--sm: 996px;
  --widget-instagram-width--sm: 583px;

  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-up(sm) {
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
  }

  &--dev {
    @include media-breakpoint-up(lg) {
      padding-left: 20px;
      grid-column-gap: 72px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 80px;
      grid-column-gap: 100px;
    }

    @include media-breakpoint-up(xxl) {
      padding-left: 60px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 140px;
    }
  }

  &--no-site {
    margin-top: 36px;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      grid-column-gap: 60px;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 95px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 110px;
    }
  }

  &--travel {
    margin-top: 64px;

    @include media-breakpoint-up(sm) {
      margin-top: 80px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 20px;
      grid-column-gap: 72px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 155px;
      grid-column-gap: 100px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 140px;
      padding-left: 115px;
    }
  }

  &--providers {
    margin-top: 64px;

    @include media-breakpoint-up(sm) {
      //margin-top: 80px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 20px;
      grid-column-gap: 72px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 165px;
      grid-column-gap: 100px;
    }

    @include media-breakpoint-up(xxl) {
      grid-column-gap: 110px;
    }
  }

  &--providers-mobile {
    margin-top: 64px;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      grid-column-gap: 47px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 122px;
      grid-column-gap: 87px;
    }

    @include media-breakpoint-up(xxl) {
      padding-left: 78px;
      grid-column-gap: 140px;
    }
  }

  &--instagram {
    --shift-left: -76px;

    position: relative;
    margin-top: 2px;

    @include media-breakpoint-up(sm) {
      margin-top: -32px;
    }

    @include media-breakpoint-up(md) {
      margin-top: -20px;
    }

    @include media-breakpoint-up(lg) {
      left: -27px;
      grid-template-columns: 524px minmax(340px, 400px);
      grid-column-gap: 8px;
      width: auto;
    }

    @include media-breakpoint-up(xl) {

      left: var(--shift-left);
      width: calc(100% - var(--shift-left));
      grid-template-columns: var(--widget-instagram-width--sm) auto;
      grid-column-gap: 52px;
    }

    @include media-breakpoint-up(xxl) {
      --shift-left: -104px;
      width: calc(100% + 60px);
      grid-column-gap: 92px;
    }
  }

  &--dashboard {
    margin-top: 50px;

    @include media-breakpoint-up(lg) {
      grid-column-gap: 40px;
    }
  }

  &--buttons {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr auto;
      margin-top: 76px;
      grid-column-gap: 40px;
    }
  }

  &--multilink {

    @include media-breakpoint-up(lg) {
      margin-top: 60px;
      grid-column-gap: 40px;
    }
  }

  &__widget {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
    //padding: 19px 24px 21px;
    width: 320px;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: -2px 25px 33px 1px rgba(137, 1, 167, 0.14), 0 1px 7px 0 rgba(149, 2, 119, 0.2);
    border-radius: 54px;
    box-sizing: border-box;

    @include media-breakpoint-up(sm) {
      width: 348px;
      //grid-column: 1 / 2;
      //grid-row: 1 / 3;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .widget-box--no-site & {
      --border-radius-top: 50px;
      --border-radius-bottom: 36px;

      margin-bottom: 48px;
      height: 850px;
      border-radius: var(--border-radius-top) var(--border-radius-top) var(--border-radius-bottom) var(--border-radius-bottom);

      @include media-breakpoint-up(sm) {
        margin-bottom: 56px;
        width: 360px;
        height: 928px;
        border-bottom-left-radius: var(--border-radius-top);
        border-bottom-right-radius: var(--border-radius-top);
      }

      @include media-breakpoint-up(md) {
        margin-top: 20px;
        margin-bottom: 80px;
      }

      @include media-breakpoint-up(lg) {
        margin-left: -20px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: -16px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: -40px;
      }
    }

    .widget-box--travel & {
      height: 648px;

      @include media-breakpoint-up(sm) {
        width: 348px;
      }
    }

    .widget-box--providers & {
      height: 498px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 100px;
        width: 348px;
        height: 502px;
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 90px;
      }
    }

    .widget-box--providers-mobile & {
      left: -9px;
      width: 338px;
      height: 658px;

      @include media-breakpoint-up(sm) {
        left: 0;
      }

      @include media-breakpoint-up(lg) {
        width: 338px;
        height: 496px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .widget-box--instagram & {
      position: absolute;
      margin-bottom: 60px;
      //max-width: 384px;
      width: 384px;
      height: var(--widget-instagram-height--xs);
      align-self: center;
      background-color: transparent;
      box-shadow: none;

      @include media-breakpoint-up(sm) {
        margin-bottom: 97px;
        width: var(--widget-instagram-width--sm);
        height: var(--widget-instagram-height--sm);
      }

      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 524px;
        height: 934px;
      }

      @include media-breakpoint-up(xl) {
        width: var(--widget-instagram-width--sm);
        height: var(--widget-instagram-height--sm);
      }

      picture {
        display: block;
        width: inherit;
        height: inherit;
      }
    }

    .widget-box--dashboard & {
      width: 350px;
      height: 726px;
      display: none;
      box-shadow: none;
      background: none;

      @include media-breakpoint-up(lg) {
        left: -20px;
        margin-top: 9px;
        display: block;
      }

      @include media-breakpoint-up(xl) {
        left: 10px;
      }

      @include media-breakpoint-up(xxl) {
        left: -12px;
      }
    }

    .widget-box--buttons & {
      margin-top: 28px;
      margin-bottom: 33px;
      width: 320px;
      height: 272px;
      border-radius: 32px;
      box-shadow: -2px 25px 33px 1px rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.14);

      @include media-breakpoint-up(md) {
        margin-top: 42px;
        margin-bottom: 54px;
        width: 360px;
        border-radius: 30px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 15px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }

      @include media-breakpoint-up(xxl) {
        margin-right: -18px;
      }
    }

    .widget-box--multilink & {
      margin-top: 28px;
      margin-bottom: 40px;
      width: 320px;
      height: 332px;
      border-radius: 30px;
      box-shadow: -2px 25px 33px 1px rgba(0, 0, 0, 0.12), 0 1px 7px 0 rgba(0, 0, 0, 0.14);

      @include media-breakpoint-up(sm) {
        margin-top: 43px;
      }

      @include media-breakpoint-up(md) {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 360px;
        border-radius: 30px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 30px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 2px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: -20px;
        margin-right: 40px;
      }
    }

    .widget-box--reverse-lg & {
      @include media-breakpoint-up(lg) {
        order: 2;
      }
    }

    .widget-box--dev & {
      height: 498px;

      @include media-breakpoint-up(sm) {
        height: 502px;
      }
    }
  }

  &__widget img {
    display: block;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  &__content {
    position: relative;

    .widget-box--dev & {

      @include media-breakpoint-up(lg) {
        padding-top: 82px;
      }
    }

    .widget-box--no-site & {
      @include media-breakpoint-up(md) {
        max-width: 540px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 55px;
      }

      @media screen and (min-width: 1000px){
        padding-top: 70px;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 90px;
      }
    }

    .widget-box--instagram & {
      @include media-breakpoint-up(sm) {
        margin-top: 40px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 40px;
        grid-column: 2 / 3;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 67px;
      }
    }

    .widget-box--instagram .widget-box__widget + & {
      padding-top: var(--widget-instagram-height--xs);

      @include media-breakpoint-up(sm) {
        padding-top: var(--widget-instagram-height--sm);
      }

      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }
    }

    .widget-box--dashboard & {

      @include media-breakpoint-up(lg) {
        margin-top: 70px;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 45px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: 63px;
      }
    }

    .widget-box--buttons & {
      margin-top: 8px;

      @include media-breakpoint-up(lg) {
        margin-top: -3px;
      }

      @media screen and (min-width: 1000px) {
        margin-top: 25px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 8px;
      }

      @include media-breakpoint-up(xxl) {
        margin-left: -20px;
      }
    }

    .widget-box--multilink & {
      @include media-breakpoint-up(lg) {
        margin-top: 30px;
        margin-left: 20px;
      }

      @media screen and (min-width: 1000px){
        margin-top: 55px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 55px;
        margin-left: 40px;
      }
    }

    .widget-box--travel & {
      @include media-breakpoint-up(lg) {
        padding-top: 143px;
      }
    }

    .widget-box--providers & {
      @include media-breakpoint-up(lg) {
        padding-top: 70px;
      }

      @include media-breakpoint-up(xl) {
        padding-top: 82px;
      }
    }

    .widget-box--providers-mobile & {
      @include media-breakpoint-up(lg) {
        padding-top: 100px;
      }
    }
  }

  &__content > svg {
    display: block;

    @include media-breakpoint-up(sm) {
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }

    .widget-box--providers-mobile & {
      @include media-breakpoint-up(lg) {
        margin-left: 35px;
      }
    }
  }

  &__content--icon-center svg {
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }

  //&__content--icon-left svg {
  //  margin-left: 0;
  //}

  &__title {
    margin: 16px 0 9px 0;
    display: block;
    font-size: 18.2px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.62px;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin: 12px 0 8px 0;
      font-size: 20.2px;
      line-height: 35px;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    .widget-box--providers-mobile & {
      @include media-breakpoint-up(lg) {
        margin-left: 35px;
      }
    }
  }
}

picture.img.widget-box--instagram-img {
  height: 1234px;

  @include media-breakpoint-up(sm) {
    height: 996px;
  }
}

picture.img.widget-box--no-site-img {
  height: 850px;

  @include media-breakpoint-up(sm) {
    height: 928px;
  }
}

picture.img.widget-box--instagram-img {
  height: 1234px;

  @include media-breakpoint-up(sm) {
    height: 996px;
  }
}

picture.img.developers-page {
  height: 458px;
}
