.widget-details {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(sm) {
    align-items: center;
  }

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns:  minmax(410px, 1fr) minmax(386px, 1fr);
    align-items: unset;
    grid-column-gap: 12px;
    grid-row-gap: 30px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 17px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 0;
  }

  &__item {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 360px;

    @include media-breakpoint-up(sm) {
      width: 458px;
    }

    @include media-breakpoint-up(lg) {
      right: -30px;
      margin: 0;
      justify-self: center;
    }

    @include media-breakpoint-up(xxl) {
      right: -55px;
    }
  }

  &__item--tab {

    @include media-breakpoint-only(xs) {
      margin-top: 42px;
      margin-bottom: 82px;
      width: 320px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d9d9d9;
      border-radius: 70px;
      box-shadow: -2px 26px 40px 1px rgba(0, 0, 0, 0.08), 0 1px 7px 0 rgba(0, 0, 0, 0.09);
      box-sizing: border-box;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-up(lg) {
      margin: 47px 0 0 0;
    }
  }

  &__item--fields {

    @include media-breakpoint-only(xs) {
      margin-top: 42px;
      margin-bottom: 82px;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 30px;
      margin-bottom: 70px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }

    @include media-breakpoint-up(lg) {
      margin: 21px 0 0 0;
    }
  }

  &__item--card {

    @include media-breakpoint-only(xs) {
      margin-top: 54px;
      margin-bottom: 0;
      width: 100%;
      max-width: 320px;
      height: 210px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px #d9d9d9;
      border-radius: 50px;
      box-shadow: -2px 26px 36px 1px rgba(0, 0, 0, 0.08), 0 1px 7px 0 rgba(0, 0, 0, 0.09);
      box-sizing: border-box;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 41px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 12px;
    }

    @include media-breakpoint-up(lg) {
      margin: 85px 0 0 0;
    }

    @include media-breakpoint-up(xl) {
      margin: 60px 0 0 0;
    }
  }

  & > *:nth-child(5) {
    @include media-breakpoint-up(lg) {
      margin-top: 43px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 18px;
    }
  }
}
