.widget-details {

  @include media-breakpoint-up(sm) {
    display: grid;
    justify-items: center;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
    grid-column-gap: 50px;
    grid-row-gap: 85px;
  }

  //& > *:nth-child(even) {
  //  margin-top: 45px;
  //  margin-bottom: 85px;
  //
  //  @include media-breakpoint-up(lg) {
  //    margin: 0;
  //  }
  //}
  //
  //& > *:last-child {
  //  margin-bottom: 0;
  //}

  &__tab {

  }

  &__fields {

  }

  &__card {

  }
}
