<div id="cookies-agreement" class="cookies-agreement__container js-hide">
  <div class="agreement-wrapper">
    <div class="cookies-agreement">
      <img class="cookies-agreement__icon" src="{{root}}assets/img/svg/icon-cookie.svg" alt="cookies-icon" width="20"
           height="20">
      <p class="cookies-agreement__text">Сохраняем cookie по <a class="cookies-agreement__link"
                                                               href="https://arsenalpay.ru/documentation/#politika-obrabotki-personal-nyh-dannyh-i-konfidencial-nosti"
                                                               target="_blank" rel="noopener noreferrer">правилам
        конфиденциальности.</a></p>
      <button type="button" class="btn cookies-agreement__btn" id="agreement-btn">Хорошо</button>
    </div>
  </div>
</div>
