<header class="header">
  <nav class="header__container">
    <a href="#" class="header__logo">
      {{{ icon name="main-logo" width="74" height="42" }}}
    </a>
    <ul class="main-nav">
      <li class="main-nav__item">
        <a href="#">Онлайн касса</a>
      </li>
      <li class="main-nav__item">
        <a href="#">Тарифы</a>
      </li>
      <li class="main-nav__item">
        <a href="#">Платежи в Instagram</a>
      </li>
      <li class="main-nav__item">
        <a href="#">Платежи на сайте</a>
      </li>
      <li class="main-nav__item">
        <a href="#">Платежи без сайта</a>
      </li>
      <li class="main-nav__item main-nav__item--login">
        <a href="#">Войти</a>
      </li>
    </ul>
    <button type="button" class="header__burger">
      <span></span>
    </button>
  </nav>
</header>
