<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />

  <link rel="icon" type="image/png" sizes="120x120" href="/favicon-120x120.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />

  <link rel="apple-touch-icon" href="touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png">

  <link rel="mask-icon" href="website_icon.svg" color="#FF6047">

  <meta name="msapplication-TileColor" content="#FF6047">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/mstile-310x310.png">
  <meta name="msapplication-square310x310logo" content="/mstile-310x150.png">
  <meta name="application-name" content="ArsenalPay">

  <link rel="image_src" href="{{image}}" />
  <link rel="canonical" href="{{canonical}}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">

  <!-- для twitter и больших картинок в telegram -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@arsenalpay" />
  <meta name="twitter:creator" content="@arsenalpay" />
<!--  <meta name="twitter:title" content="ArsenalPay | Разработчикам" />-->
  <meta name="twitter:title" content="{{twitterTitle}}" />
  <meta name="twitter:description" content="{{twitterDescription}}" />
  <meta property="twitter:image" content="{{twitterImage}}" />

  <!-- для FB, VK и квадратная картинка для WhatsApp -->
  <!--  FB берет самую большую картинку, WhatsApp  должен брать квадратную.-->
  <meta property="vk:image" content="{{vkImage}}" />
  <meta property="og:image" content="{{ogImageFb}}" />
  <meta property="og:image:secure_url" content="{{ogSecureUrl}}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image" content="{{ogImage}}" />
  <meta property="og:image:width" content="540" />
  <meta property="og:image:height" content="540" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="ArsenalPay" />
  <meta property="og:url" content="{{ogUrl}}" />
  <meta property="og:title" content="{{ogTitle}}" />
  <meta property="og:description" content="{{ogDescription}}" />

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      function cth(c){document.documentElement.classList.add(c)}
      'ontouchstart' in window?cth('touch'):cth('no-touch');
      if(typeof InstallTrigger!=='undefined')cth('firefox');
      if(/constructor/i.test(window.HTMLElement)||(function(p){return p.toString()==="[object SafariRemoteNotification]"})(!window['safari']||(typeof safari!=='undefined'&&safari.pushNotification)))cth('safari');
      if(/*@cc_on!@*/false||!!document.documentMode)cth('ie');
      if(!(/*@cc_on!@*/false||!!document.documentMode)&&!!window.StyleMedia)cth('edge');
      if(!!window.chrome&&(!!window.chrome.webstore||!!window.chrome.runtime))cth('chrome');
      if(~navigator.appVersion.indexOf("Win"))cth('windows');
      if(~navigator.appVersion.indexOf("Mac"))cth('osx');
      if(~navigator.appVersion.indexOf("Linux"))cth('linux');
  </script>

  <!-- vk, facebook end -->
  <!-- Yandex.Metrika counter -->
  <script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script async="" src="https://mc.yandex.ru/metrika/tag.js"></script>
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
      };
      m[i].l = 1 * new Date();
      k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(28148454, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/28148454" style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <!-- Google analytics-->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-7963793-4', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- /Google analytics-->
</head>
