<header class="header">
  <nav class="header__container">
    <a href="#" class="header__logo">
      {{{ icon name="main-logo" width="74" height="42" }}}
    </a>
    <ul class="main-nav">
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/cashbox.html">Онлайн касса</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/tariffs.html">Тарифы</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/priem-platezhej-v-instagram.html">Платежи в Instagram</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru//priem-platezhej-na-sajte.html">Платежи на сайте</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/quickstart.html">Платежи без сайта</a>
      </li>
      <li class="main-nav__item main-nav__item--login">
        <a href="https://arsenalpay.ru/dashboard/login">Войти</a>
      </li>
    </ul>
    <button type="button" class="header__burger" data-open-mobile>
      <span></span>
    </button>
  </nav>
</header>
