<header class="header">
  <nav class="header__container">
    <a href="#" class="header__logo">
<!--      <img src="{{root}}assets/img/svg/main-logo.svg"  alt="Логотип">-->
      {{{ icon name="main-logo" width="74" height="42" }}}
    </a>
    <ul class="main-nav">
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/cashbox.html" class="link link--sm link--black">Онлайн касса</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/tariffs.html" class="link link--sm link--black">Тарифы</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/priem-platezhej-v-instagram.html" class="link link--sm link--black">Платежи в Instagram</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru//priem-platezhej-na-sajte.html" class="link link--sm link--black">Платежи на сайте</a>
      </li>
      <li class="main-nav__item">
        <a href="https://arsenalpay.ru/quickstart.html" class="link link--sm link--black">Платежи без сайта</a>
      </li>
      <li class="main-nav__item main-nav__item--login">
        <a href="https://arsenalpay.ru/dashboard/login" class="link link--sm link--black">Войти</a>
      </li>
    </ul>
    <button type="button" class="header__burger" data-open-mobile>
      <span></span>
    </button>
  </nav>
</header>
