<div class="mobile-nav" data-close>
  <div class="mobile-nav__main">
    <button type="button" class="mobile-nav__close" data-close>
      {{{ icon name="cross" width="12" height="12" }}}
    </button>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#">Онлайн касса</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Тарифы</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#">Платежи в Instagram</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Платежи на сайте</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Платежи без сайта</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Турфирмам</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Провайдерам</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#">О компании</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Контакты</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Блог</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#">Документация</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Поддержка</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Разработчикам</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Агентам</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#">Демо магазин</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#">Оплата услуг</a>
      </li>
    </ul>
    <a href="https://arsenalpay.ru/dashboard/login" class="mobile-nav__login" target="_blank">Войти</a>
    {{> social}}
  </div>
</div>
