<div class="mobile-nav" data-mobile-close>
  <div class="mobile-nav__main">
    <button type="button" class="mobile-nav__close" data-mobile-close>
      {{{ icon name="cross" width="11" height="11" }}}
    </button>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/cashbox.html">Онлайн касса</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/tariffs.html">Тарифы</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/priem-platezhej-v-instagram.html">Платежи в Instagram</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/priem-platezhej-na-sajte.html">Платежи на сайте</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/quickstart.html">Платежи без сайта</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/travel.html">Турфирмам</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/providers.html">Провайдерам</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/about.html">О компании</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/contacts.html">Контакты</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/blog/">Блог</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/documentation/index.html">Документация</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/support.html">Поддержка</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/developers.html">Разработчикам</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/partnership.html">Агентам</a>
      </li>
    </ul>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/demo.html">Демо магазин</a>
      </li>
      <li class="mobile-nav__item">
        <a href="https://arsenalpay.ru/pay/">Оплата услуг</a>
      </li>
    </ul>
    <a href="https://arsenalpay.ru/dashboard/login" class="mobile-nav__login">Войти</a>
    {{{ social }}}
<!--    {{> lang}}-->
  </div>
</div>
