<div  class="swiper swiper--reviews">
  <div id="reviewsSlider" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        {{{ card
            img='{"name": "logo-reviews-alians", "alt": "Альянс Телеком"}'
            name="Альянс Телеком"
            title="<span style='display: inline-block;margin-right: 8px;'>🌐</span> Крупнейший провайдер телекоммуникационных услуг Приморского края"
            text="В партнерстве с ArsenalPay предоставляем нашим клиентам надёжный способ оплаты услуг в соответствие
            с международным стандартом безопасности данных индустрии платёжных карт PCI DSS. При оплате наши клиенты могут быть
            уверены в необходимом уровне безопасности и защиты от мошенничества."
        }}}
      </div>
      <div class="swiper-slide">
        {{{ card
          img='{"name": "logo-reviews-podryad", "alt": "Подряд"}'
          name="Подряд"
          title="<span style='display: inline-block;margin-right: 8px;'>🌐</span> Один из крупнейших интернет и TV провайдеров Приморского края"
          text="Многолетнее плодотворное сотрудничество с ArsenalPay дало возможность нашим клиентам не только удобно
          оплачивать услуги на сайте, но и пользоваться разработанным iOS и Android приложением со всеми функциями коммуникации и оплаты.
          Мы высоко оцениваем качество услуг и индивидуальный подход ArsenalPay."
        }}}
      </div>
      <div class="swiper-slide">
        {{{ card
          img='{"name": "logo-reviews-ikosmos", "alt": "Космос"}'
          name="Космос"
          title="<span style='display: inline-block;margin-right: 8px;'>🌐</span> Интернет и TV провайдер Тюмени"
          text="Считаем предложение ArsenalPay самым выгодным на рынке. Платежи по минимальной ставке плюс интегрированная касса без
          лишних расходов, такого мы больше нигде не нашли. Виджет установили на сайт без проблем, клиенты довольны удобством оплаты,
          чеки приходят сразу. Спасибо за качественный сервис!"
        }}}
      </div>
    </div>
  </div>
  <button class="swiper-button swiper-button-prev">
    {{{ icon name="slider-arrow-back" width="48" height="38" }}}
  </button>
  <button class="swiper-button swiper-button-next">
    {{{ icon name="slider-arrow-forward" width="48" height="38" }}}
  </button>
</div>
