<div data-slider="" class="slider swiper-container">
  <div class="slider-wrapper swiper-wrapper">
      {{#each slider-images}}
        <div class="slider-img swiper-slide" data-src="{{root}}assets/img/content/{{ name }}.jpg">
          <div class="slider-img-overlay">
              <svg width="30" height="30">
                <use xlink:href="{{root}}assets/img/symbol/sprite.svg#eye"></use>
              </svg>
          </div>
          <img width="190" height="117" src="{{root}}assets/img/content/{{ name }}.jpg" alt="{{ label }}">   
        </div>
      {{/each}}
  </div>
  <button type="button" class="slider-btn slider-btn--next swiper-button-next">
      <svg width="20" height="19">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#arrow"></use>
      </svg>
  </button>
  <button type="button" class="slider-btn slider-btn--prev swiper-button-prev">
      <svg width="20" height="19">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#arrow"></use>
      </svg>
  </button>
</div>
