<div class="social">
  <span class="social__label">Мы в соц сетях</span>
  <a href="https://www.instagram.com/arsenal_pay/" class="social__item">
    <img src="{{root}}assets/img/svg/instagram.svg" width="48" height="38" alt="Instagram*">
  </a>
  <a href="tg://resolve?domain=arsenalpay" class="social__item">
    <img src="{{root}}assets/img/svg/telegram.svg" width="48" height="38" alt="Telegram">
  </a>
  <a href="https://www.facebook.com/ArsenalPay.ru" class="social__item">
    <img src="{{root}}assets/img/svg/facebook.svg" width="48" height="38" alt="Facebook">
  </a>
</div>
