<!--<article class="modal" v-if="currentModal === 'payments'" @click="closeModal()">-->
<!--  <div class="modal__body">-->
<!--    <button type="button" class="modal__close" @click="closeModal()">-->
<!--      {{{ icon name="cross" width="12" height="12" }}}-->
<!--    </button>-->
<!--    <h1 class="modal__title">Узнать о своем платеже</h1>-->
<!--    <p class="modal__text">Вы можете встроить виджет оплаты в любое место на сайте и реализовать любую логику появления виджета. Например, отображать виджет на странице корзины, или показывать его во всплывающем окне вашего сайта. </p>-->
<!--    <iframe class="iframe iframe&#45;&#45;widget" data-src="https://arsenalpay.ru/widget.html?widget=6022&destination=ArsenalPay-test&amount=1000" height="398"></iframe>-->
<!--  </div>-->
<!--</article>-->

<!--<article class="modal" v-if="currentModal === 'findCheck'" @click="closeModal()">-->
<!--  <div class="modal__body">-->
<!--    <button type="button" class="modal__close" @click="closeModal()">-->
<!--      {{{ icon name="cross" width="12" height="12" }}}-->
<!--    </button>-->
<!--    <h1 class="modal__title">Найти свой чек</h1>-->
<!--    <p class="modal__text">Вы можете встроить виджет оплаты в любое место на сайте и реализовать любую логику появления виджета. Например, отображать виджет на странице корзины, или показывать его во всплывающем окне вашего сайта. </p>-->
<!--    <iframe class="iframe iframe&#45;&#45;widget" data-src="https://arsenalpay.ru/widget.html?widget=6022&destination=ArsenalPay-test&amount=1000" height="398"></iframe>-->
<!--  </div>-->
<!--</article>-->


<!--<article class="modal" v-if="currentModal === 'deleteAutoPayment'" >-->
<!--  <div class="modal__body" id="deleteAutoPaymentForm">-->
<!--    <button type="button" class="modal__close" @click="closeModal()">-->
<!--      {{{ icon name="cross" width="12" height="12" }}}-->
<!--    </button>-->
<!--    <h1 class="modal__title" v-text="message"></h1>-->
<!--    <form >-->
<!--      <input type="text" :placeholder="placeholder" />-->
<!--      <input type="text" placeholder="Введите последние 4 цифры"/>-->
<!--      <button type="submit">Найти автоплатеж</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</article>-->


<!--<article class="modal" v-if="currentModal === 'deleteSavedCard'" @click="closeModal()">-->
<!--  <div class="modal__body">-->
<!--    <button type="button" class="modal__close" @click="closeModal()">-->
<!--      {{{ icon name="cross" width="12" height="12" }}}-->
<!--    </button>-->
<!--    <h1 class="modal__title">Удалить сохраненную карту</h1>-->
<!--    <p class="modal__text">Вы можете встроить виджет оплаты в любое место на сайте и реализовать любую логику появления виджета. Например, отображать виджет на странице корзины, или показывать его во всплывающем окне вашего сайта. </p>-->
<!--    <iframe class="iframe iframe&#45;&#45;widget" data-src="https://arsenalpay.ru/widget.html?widget=6022&destination=ArsenalPay-test&amount=1000" height="398"></iframe>-->
<!--  </div>-->
<!--</article>-->

