<div  class="swiper swiper--reviews">
  <div id="reviewsSlider" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        {{{ card
            img='{"name": "logo-clo-store", "alt": "Туристический портал с горящими турами"}'
            name="Holidaygo"
            title="<span style='display: inline-block;margin-right: 8px;'>✈️</span> Туристический портал с горящими турами"
            text="Спасибо ArsenalPay за удобный сервис, который можно использовать где угодно.
            У меня несколько аккаунтов в разных соцсетях и нет сайта. Все время уходит на развитие брэнда, на сайт времени совсем не остается.
            Вопрос о кассе стоял очень остро. Пришлось перерыть горы информации пока не нашла вашу кассу. Теперь я спокойно принимаю оплату от клиентов."
            link='{"href": "https://arsenalpay.ru/pay/5clo_store", "text": "Страница оплаты"}'
        }}}
      </div>
      <div class="swiper-slide">
        {{{ card
          img='{"name": "logo-toko", "alt": "Магазин экологичных игрушек"}'
          name="@tokoshopdecor"
          title="<span style='display: inline-block;margin-right: 8px;'>🌿</span> Магазин декора — уютные вещи ручной работы, рождённые на островах Индонезии."
          text="Нашим клиентам не всегда удобно переводить на карту, тем более с комиссией. Проще пользоваться кредитной картой,
          а теперь ещё есть возможность получать ОФД чек, для подтверждения покупки и предъявления в бухгалтерию (иногда у нас поступали
          такие просьбы)!!! Если необходимо отложить покупку, мы формируем ссылку для оплаты и высылаем ее клиентам в мессенджеры, откуда они могут оплатить счёт в любое время.
          Наш магазин в Instagram стал удобнее и мы этим гордимся."
          link='{"href": "https://arsenalpay.ru/pay/tokoshopdecor", "text": "Страница оплаты"}'
        }}}
      </div>
      <div class="swiper-slide">
        {{{ card
          img='{"name": "logo-marussia", "alt": "Магазин экологичных игрушек"}'
          name="@marussia_italia"
          title="<span style='display: inline-block;margin-right: 8px;'>🇮🇹</span> Обувь и аксессуары из Италии."
          text="Мы продаём итальянскую обувь высокого качества в Инстаграм, наш магазин популярен и мы хотим соответсвовать ожиданиям наших клиентов.
          Онлайн оплата с чеками — это то, что нам было нужно, но в итоге мы получили даже больше. На странице с оплатой можно разместить свои ссылки и кнопку перехода в WhatsApp, очень удобно для клиентов.
          Про кассу и говорить нечего — это выгодно для нас."
          link='{"href": "https://arsenalpay.ru/pay/marussia_italia", "text": "Страница оплаты"}'
        }}}
      </div>
    </div>
  </div>
  <button class="swiper-button swiper-button-prev">
    {{{ icon name="slider-arrow-back" width="48" height="38" }}}
  </button>
  <button class="swiper-button swiper-button-next">
    {{{ icon name="slider-arrow-forward" width="48" height="38" }}}
  </button>
</div>
