<!doctype html>
<html class="no-js page" lang="ru">
  {{> head}}
<body>
  {{> header}}
  {{> mobile-nav}}
  <div id="page" class="page-inner">
    {{> body}}
  </div>
  <section class="page-section page-section--cashbox page-section--bg-pink page-section--no-skew">
    <div class="page-section__container">
      {{{ icon name="kassa" width="122" height="120" mods="pink" }}}
      <div class="page-section__alert page-section__alert--bottom">
        {{{ alert text="Теперь приём платежей доступен и самозанятым" }}}
      </div>
      <h2 class="page-section__title">Начать приём платежей с&nbsp;кассой</h2>
      <p class="text text--mgb-36 text--md-size-lg">Вам не&nbsp;нужно покупать или брать в&nbsp;аренду свою&nbsp;кассу</p>
      <a href="{{ footerLink }}" class="page-section__btn" style="margin-bottom: 0">Подключиться</a>
    </div>
  </section>
  {{> footer}}
  {{> cookies-agreement}}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXu6wNP79AG7OHTlyBMRufLdjdvSmwo0A"></script>-->
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
