<!doctype html>
<html class="no-js page" lang="ru">
{{> head}}
<body>
{{> header}}
{{> mobile-nav}}
<div id="page" class="page-inner page-inner--instagram">
  {{> body}}
</div>
<section class="page-section page-section--cashbox page-section--bg-pink page-section--no-skew">
  <div class="page-section__container">
    {{{ icon name="card-big" width="112" height="112" mods="pink" }}}
    <div class="page-section__alert page-section__alert--bottom">
      {{{ alert text="Теперь приём платежей доступен и самозанятым" }}}
    </div>
    <h2 class="page-section__title">Подключить платежи в Instagram*</h2>
    <p class="text text--mgb-36 text--md-size-lg">Для подключения нужен только ИНН юрлица, ИП&nbsp;или&nbsp;самозанятого.</p>
    <a href="{{ footerLink }}" class="page-section__btn" style="margin-bottom: 0">Подключиться</a>
  </div>
</section>
{{> footer}}
{{> cookies-agreement}}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXu6wNP79AG7OHTlyBMRufLdjdvSmwo0A"></script>-->
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
