<!doctype html>
<html class="no-js page" lang="ru">
{{> head}}
<body>
{{> header}}
{{> mobile-nav}}
<div id="page" class="page-inner" style="overflow: hidden">
  {{> body}}
</div>
<section class="page-section page-section--cashbox page-section--bg-pink page-section--no-skew">
  <div class="page-section__container">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="120" viewBox="0 0 120 120">
      <defs>
        <filter id="pn8ocb3aod" width="153.3%" height="153.3%" x="-26.6%" y="-26.6%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10.756"/>
        </filter>
        <filter id="5h2jo8eece" width="164.3%" height="164.3%" x="-32.1%" y="-32.1%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10.756"/>
        </filter>
        <filter id="xdnedu1ouf" width="165.4%" height="165.4%" x="-32.7%" y="-32.7%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10.756"/>
        </filter>
        <filter id="wrfo1hss1g" width="184.1%" height="184.1%" x="-42.1%" y="-42.1%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10.756"/>
        </filter>
        <filter id="h76drokrmh" width="187.5%" height="187.5%" x="-43.7%" y="-43.7%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="8.437"/>
        </filter>
        <filter id="y28j3mnz4i" width="235.9%" height="235.9%" x="-67.9%" y="-67.9%" filterUnits="objectBoundingBox">
          <feGaussianBlur in="SourceGraphic" stdDeviation="8.437"/>
        </filter>
        <linearGradient id="8xc3qqsg5b" x1="52.792%" x2="90.731%" y1="-8.824%" y2="100%">
          <stop offset="0%" stop-color="#2B4AF4"/>
          <stop offset="41.094%" stop-color="#C928DD"/>
          <stop offset="100%" stop-color="#F61372"/>
        </linearGradient>
        <path id="cmm2h6hqja" d="M72.952 0C84.196 0 89.817 0 95.87 1.913c6.608 2.406 11.812 7.61 14.218 14.218C112 22.183 112 27.805 112 39.048v33.904c0 11.244 0 16.865-1.913 22.917-2.406 6.608-7.61 11.812-14.218 14.217C89.817 112 84.196 112 72.952 112H39.048c-11.244 0-16.865 0-22.917-1.914-6.608-2.405-11.812-7.609-14.218-14.217C0 89.817 0 84.196 0 72.952V39.048C0 27.805 0 22.183 1.913 16.13 4.32 9.523 9.523 4.319 16.131 1.913 22.183 0 27.804 0 39.048 0h33.904z"/>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <g>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <g>
                        <g transform="translate(-580 -10752) translate(0 4821) translate(0 1250) translate(0 2104) translate(0 2451) translate(580 126) translate(4 4)">
                          <mask id="luskodhp7c" fill="#fff">
                            <use xlink:href="#cmm2h6hqja"/>
                          </mask>
                          <use fill="#FFF" xlink:href="#cmm2h6hqja"/>
                          <path fill="url(#8xc3qqsg5b)" d="M0 0H112.2V112.2H0z" mask="url(#luskodhp7c)"/>
                          <circle cx="37.144" cy="107.05" r="60.592" fill="#FF1E48" filter="url(#pn8ocb3aod)" mask="url(#luskodhp7c)"/>
                          <circle cx="50.183" cy="70.991" r="50.183" fill="#D71C92" filter="url(#5h2jo8eece)" mask="url(#luskodhp7c)"/>
                          <circle cx="46.458" cy="100.805" r="49.307" fill="#FE6127" filter="url(#xdnedu1ouf)" mask="url(#luskodhp7c)"/>
                          <circle cx="36.063" cy="119.46" r="38.35" fill="#FEE990" filter="url(#wrfo1hss1g)" mask="url(#luskodhp7c)" opacity=".655"/>
                          <circle cx="36.596" cy="124.034" r="28.927" fill="#FEE990" filter="url(#h76drokrmh)" mask="url(#luskodhp7c)"/>
                          <circle cx="60.921" cy="68.372" r="18.627" fill="#FE2746" filter="url(#y28j3mnz4i)" mask="url(#luskodhp7c)"/>
                        </g>
                        <g transform="translate(-580 -10752) translate(0 4821) translate(0 1250) translate(0 2104) translate(0 2451) translate(580 126) translate(4 4) translate(14.3 14.3)">
                          <path fill="#FFF" d="M75.926 7.676c7.485 7.437 6.755 17.72 6.755 25.942v16.08c0 8.223.653 19.413-6.755 26.814-7.294 7.286-17.617 6.137-25.784 6.1H33.676c-8.224 0-19.193 1.306-26.6-6.1-7.409-7.407-6.32-18.59-6.32-26.813v-16.08c0-8.223-1.09-18.536 6.32-25.943C14.368.386 25.11.694 33.288.706H49.76c8.224 0 18.68-.467 26.165 6.97zm-6.084 5.765c-5.365-5.369-10.736-4.716-17.356-4.716H30.598c-6.466-.022-12.078-.543-17.337 4.716-5.369 5.36-4.51 10.876-4.51 17.495v21.521c0 6.62-.848 12.214 4.51 17.573 5.363 5.353 11.083 4.638 17.704 4.638h22.73c6.144-.007 11.72-.203 16.147-4.638 4.715-4.716 4.858-10.953 4.858-17.573v-21.52c0-6.62-.11-12.73-4.858-17.496z"/>
                          <circle cx="41.7" cy="41.7" r="17.343" stroke="#FFF" stroke-width="7.314"/>
                          <circle cx="62.7" cy="20.7" r="5" fill="#FFF"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="page-section__alert page-section__alert--bottom">
      {{{ alert text="Теперь приём платежей доступен и самозанятым" }}}
    </div>
    <h2 class="page-section__title">Подключить платежи в Instagram</h2>
    <p class="text text--mgb-36 text--md-size-lg">Для подключения нужен только ИНН юрлица, ИП&nbsp;или&nbsp;самозанятого.</p>
    <a href="{{ footerLink }}" class="page-section__btn" style="margin-bottom: 0">Подключиться</a>
  </div>
</section>
{{> footer}}
{{> cookies-agreement}}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXu6wNP79AG7OHTlyBMRufLdjdvSmwo0A"></script>-->
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
